@font-face {
  font-family: 'Cabin';
  src: url('./fonts/Cabin-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-VariableFont_wght.ttf');
}

$body-background-color: #faf9f8;
$text-color: #3e434c;
$white-primary-color: #ffffff;
$input-border: #f1f2f3;
$input-focus-border: #adc5dd;
$grey-primary-color: #ecedef;
$grey-secondary-color: #79879b;
$grey-minor-color: #f0f0f0;
$red-primary-color: #eb6a58;
$yellow-primary-color: rgba(255, 232, 182, 0.6);
$yellow-secondary-color: #fcc234;
$yellow-minor-color: #a17601;
$grey-color: #58667c;

$secondary-font-family: 'Raleway';
$primary-font-family: 'Cabin';

$line-height-extra-sm: 14px;
$line-height-sm: 20px;
$line-height-md: 21px;
$line-height-lg: 24px;
$line-height-extra-lg: 28px;

$text-font-sm: 14px;
$text-font-md: 16px;
$text-font-lg: 18px;
$text-font-extra-lg: 24px;

$padding: 0.4em 0.8em;

@mixin input-view {
  background: $white-primary-color;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
  padding: $padding;
  margin: 0.2em 0;
}

@mixin labels-font-style {
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: bold;
}

@mixin align-flex-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button-margins {
  margin: 0 0.4em 0 0;
}

// @mixin action-button-style {
//   border-width: 2px;
//   border-style: solid;
//   @include align-center;
//   border-radius: 4px;
// }

body {
  background-color: $body-background-color;
  color: $text-color;
}

.contact-form {
  @include align-center;
  flex-direction: column;

  .contact-form__info {
    max-width: 55%;

    .contact-form__info__title {
      font-family: $secondary-font-family;
      font-size: $text-font-extra-lg;
      text-align: center;
      line-height: $line-height-extra-lg;
    }

    .contact-form__info__description {
      text-align: center;
      font-family: $primary-font-family;
      font-size: $text-font-md;
      line-height: $line-height-lg;
    }
  }

  .contact-form__body {
    background: $white-primary-color;
    border: 1px solid $grey-primary-color;
    position: relative;
    width: 60%;

    .contact-form__body__badge {
      @include align-center;
      position: absolute;
      top: -2%;
      right: 40%;
      background-color: $grey-minor-color;
      color: $grey-secondary-color;
      border: 1px solid $grey-primary-color;
      border-radius: 5px;
      padding: $padding;
      @include labels-font-style;
      font-size: $text-font-sm;
      line-height: $line-height-extra-sm;

      .contact-form__body__badge--all {
        padding-left: 0.2em;
        opacity: 0.4;
      }
    }

    .contact-form__body__inputs {
      @include align-flex-start;

      .contact-form__body__tooltip {
        border: none;
        background: none;
        @include align-center;
        font-family: $secondary-font-family;
        font-style: normal;
        font-weight: 600;
        font-size: $text-font-lg;
        line-height: $line-height-md;
        padding: 1em;

        .contact-form__body__tooltip__icon {
          @include button-margins;
        }
      }

      .contact-form__body__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .contact-form__body__row__field {
          border: none;
          @include align-flex-start;
          width: 100%;

          .form-field__label {
            @include labels-font-style;
            font-size: $text-font-md;
            line-height: $line-height-sm;
          }

          .form-field__input {
            border-color: $input-border;
            @include input-view;
            width: 100%;
          }

          .form-field__input:focus {
            outline: none;
            border-color: $input-focus-border;
            @include input-view;
          }

          .form-field__answer {
            width: 100%;
          }

          .form-field__textarea {
            outline: none;
            resize: none;
            font-family: $primary-font-family;
          }
        }
      }

      .contact-form__body__row--full {
        width: 96%;
      }

      .contact-form__body__upload {
        font-family: $primary-font-family;
        font-size: $text-font-md;
        line-height: $line-height-sm;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contact-form__body__upload__info {
          margin-left: 1em;

          .contact-form__body__upload__info--valid {
            opacity: 0.5;
          }
        }

        .contact-form__body__upload__button {
          color: $red-primary-color;
          border-radius: 20px;
          border: none;
          padding: 0.8em;
        }
      }
    }

    .contact-form__body__inputs--hidden {
      display: none;
    }
  }
}

.actions {
  @include align-center();

  .actions__button {
    @include align-center;

    .actions__button__icon {
      @include button-margins;
    }
  }

  .actions__button__back {
    padding: $padding;
    background: none;
    border: none;
  }

  .actions__button__next {
    border: 2px solid $yellow-secondary-color;
    border-radius: 4px;
    padding: $padding;
    background: $yellow-primary-color;
    color: $yellow-minor-color;
    @include align-center;
  }
}
