$title-font-size: 24px;
$description-font-size: 16px;

$background-color: #faf9f8;
$text-color: #3e434c;
$white-background-color: #ffffff;
$input-border: #f1f2f3;
$input-focus-border: #adc5dd;
$form-border-color: #ecedef;

$title-font-family: 'Raleway';
$description-font-family: 'Cabin';

@mixin input-view {
  background: $white-background-color;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}

body {
  background-color: $background-color;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-form__info {
    max-width: 80%;

    .contact-form__info__title {
      font-family: $title-font-family;
      font-size: $title-font-size;
      text-align: center;
    }

    .contact-form__info__description {
      display: block;
      text-align: center;
      font-family: $description-font-family;
      font-size: $description-font-size;
    }
  }

  .contact-form__body {
    color: $text-color;
    background: $white-background-color;
    border: 1px solid $form-border-color;

    .contact-form__body__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .contact-form__body__row__field {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        #form-field__label {
          border-color: $input-border;
          @include input-view;
        }

        #form-field__label:focus {
          border-color: $input-focus-border;
          @include input-view;
        }
      }
    }
  }
}
