$title-font-size: 24px;
$description-font-size: 16px;

$background-color: #faf9f8;
$text-color: #3e434c;
$white-primary-color: #ffffff;
$input-border: #f1f2f3;
$input-focus-border: #adc5dd;
$grey-primary-color: #ecedef;
$grey-secondary-color: #79879b;
$grey-minor-color: #f0f0f0;

$secondary-font-family: 'Raleway';
$primary-font-family: 'Cabin';

$primary-line-height: 14px;

@mixin input-view {
  background: $white-primary-color;
  border-width: 2px;
  border-style: solid;
  border-radius: 2px;
}

body {
  background-color: $background-color;
  color: $text-color;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contact-form__badge {
    background-color: $grey-minor-color;
    color: $grey-secondary-color;
    border: 1px solid $grey-primary-color;
    border-radius: 5px;
    padding: 0.2em 0.8em;
    font-family: $primary-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: $primary-line-height;

    .contact-form__badge--all {
      opacity: 0.7;
    }
  }

  .contact-form__info {
    max-width: 55%;

    .contact-form__info__title {
      font-family: $secondary-font-family;
      font-size: $title-font-size;
      text-align: center;
    }

    .contact-form__info__description {
      text-align: center;
      font-family: $primary-font-family;
      font-size: $description-font-size;
    }
  }

  .contact-form__body {
    background: $white-primary-color;
    border: 1px solid $grey-primary-color;

    .contact-form__body__row {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .contact-form__body__row__field {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        #form-field__label {
          border-color: $input-border;
          @include input-view;
        }

        #form-field__label:focus {
          border-color: $input-focus-border;
          @include input-view;
        }
      }
    }
  }
}
