body {
  background-color: #faf9f8;
  color: #3e434c; }

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact-form .contact-form__info {
    max-width: 55%; }
    .contact-form .contact-form__info .contact-form__info__title {
      font-family: "Raleway";
      font-size: 24px;
      text-align: center;
      line-height: 28px; }
    .contact-form .contact-form__info .contact-form__info__description {
      text-align: center;
      font-family: "Cabin";
      font-size: 16px;
      line-height: 24px; }
  .contact-form .contact-form__body {
    background: #ffffff;
    border: 1px solid #ecedef;
    position: relative; }
    .contact-form .contact-form__body .contact-form__body__badge {
      display: inline-block;
      position: absolute;
      top: -10%;
      left: 39%;
      right: 39%;
      background-color: #f0f0f0;
      color: #79879b;
      border: 1px solid #ecedef;
      border-radius: 5px;
      padding: 0.2em 0.8em;
      font-family: "Cabin";
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 14px; }
      .contact-form .contact-form__body .contact-form__body__badge .contact-form__body__badge--all {
        opacity: 0.7; }
    .contact-form .contact-form__body .contact-form__body__tooltip {
      border: none;
      background: none;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      line-height: 21px;
      padding: 1em; }
      .contact-form .contact-form__body .contact-form__body__tooltip .contact-form__body__tooltip__icon {
        margin: 0 0.4em 0 0; }
    .contact-form .contact-form__body .contact-form__body__row {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .contact-form .contact-form__body .contact-form__body__row .contact-form__body__row__field {
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; }
        .contact-form .contact-form__body .contact-form__body__row .contact-form__body__row__field #form-field__label {
          border-color: #f1f2f3;
          background: #ffffff;
          border-width: 2px;
          border-style: solid;
          border-radius: 2px; }
        .contact-form .contact-form__body .contact-form__body__row .contact-form__body__row__field #form-field__label:focus {
          border-color: #adc5dd;
          background: #ffffff;
          border-width: 2px;
          border-style: solid;
          border-radius: 2px; }
